header {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
  }
  
  .logo {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin-left: 20px;
  }