<link rel="stylesheet" href="/public/css/adminsidebar.css">

<div class="sidebar">
    <ul class="nav-menu">
        <li class="active">
            <a href="#insight">
                <i class="fas fa-chart-line"></i>
                <span>INSIGHT</span>
            </a>
        </li>
   
        <li>
            <a href="#user">
                <i class="fas fa-user"></i>
                <span>USER MANAGEMENT</span>
            </a>
        </li>
        <li>
            <a href="#category">
                <i class="fas fa-box"></i>
                <span>CATEGORY MANAGEMENT</span>
            </a>
        </li>
        <li>
            <a href="#product">
                <i class="fas fa-tag"></i>
                <span>PRODUCT MANAGEMENT</span>
            </a>
        </li>
        <li>
            <a href="#order">
                <i class="fas fa-box"></i>
                <span>ORDER MANAGEMENT</span>
            </a>
        </li>
        <li>
            <a href="#coupon">
                <i class="fas fa-ticket-alt"></i>
                <span>COUPON MANAGEMENT</span>
            </a>
        </li>
        <li>
            <a href="#logout">
                <i class="fas fa-sign-out-alt"></i>
                <span>LOGOUT</span>
            </a>
        </li>
    </ul>
</div>
